[submodule "zsh/zshmarks"]
	path = zsh/zshmarks
	url = https://github.com/jocelynmallon/zshmarks
[submodule "nixpkgs-overlay/nox"]
	path = nixpkgs-overlay/nox
	url = https://github.com/lheckemann/nox/
