[submodule "vundle"]
    path = vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim.git

[submodule "tpm"]
    path = tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/zshmarks"]
	path = zsh/zshmarks
	url = https://github.com/jocelynmallon/zshmarks
